*{
    margin : 0;
    padding :0;
    box-sizing: border-box;
}

html, body{
    height : 100%;
}
.container{
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height :100%;
}
.item1{
    grid-column : 1 /2;      
    grid-row : 1 /2;
    display: grid;          
    place-items: center;
    background-color: thistle;
    color: thistle;

}    
.item2{
    grid-row: 1/2;
    grid-column: 2 / 3;
    display: grid;          
    place-items: center;
    color:aliceblue;
    background-color: aliceblue;

}
.item3{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;          
    place-items: center;
    color:beige;
    background-color: beige;
    cursor: c ;
}

.item4{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;          
    place-items: center;
    color:antiquewhite;
    background-color: antiquewhite;
}
.container div{
    font-style: italic;
    font-size: 30px;
}